- var path = '../../cmp-templates/ready-to-copy/base/';


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block comp-title
            title Component Name
        link(rel="stylesheet", href=`${path}prism/prism.css`)
        block comp-styles
            link(rel="stylesheet", href=`${path}public/css/default.css`)
            link(rel="stylesheet", href=`${path}public/css/code-copy.css`)

        

    body 
        #wrapper
            |
            |
            block comp-content
                h1 Указать имя компонента
                .container
                    |
                    |
                    p Место визуального расоложения компонента
                |
                |
            block comp-code
                p Здесь располагаются табы с кодом комонента с возможностью кпирования в 1 клик.
        
        block comp-scripts
            script(src=`${path}prism/prism.js`)
            script(src=`${path}public/js/code-copy.dev.js`)